*{
    margin:0;
    padding:0;
    border:0;
}
.para{
    height:200vh;
    background-color: rgb(123, 189, 219);
    padding-top: 5vh;
}
.ree{    
    width: 100vw;
    height: auto;
    position: absolute;

}
.pa {
    background-color: rgb(123, 189, 219);
} 
