*{
  margin:0%;
  padding:0%;
  border:0%;
}
.header{
  min-height: 100vh;
  background-color: rgb(49, 52, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body{
  min-height: 200vh;
  background-color: whitesmoke
}