@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Tangerine:wght@700&family=Zen+Kurenaido&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
.para{
    min-height:161vh;
    background-color: whitesmoke;
}
.ree{    
    width: 100vw;
    height: 115vh;
    position: absolute;
    object-fit: cover;
}
.rect{
    z-index: 1;
    width: 100vw;
    height: 120vh;
    position: absolute;
    top: 110vh;
}
.welcomewrap{
    padding-top: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes float {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(-20px)
    }
    100%{
        transform: translateY(0px)
    }
}
.cld--3{
    animation: float 5s -4s infinite;
}
.cld--2{
    animation: float 4s infinite;
}
.new{
    min-height: 200vh;
    position: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 10vw;
}
.downarrow{
    height: 5vh;
    width: auto;
    opacity: 0%;
    animation: dal 3s 2s forwards,float 5s 2.5s ease-in-out infinite;
    transition: 1s;
    z-index: 2;
    margin-top: 45vh;
    position: absolute;
}
.downarrow:hover{    
    height:7vh;
    width:auto;
}
.Welcome{
    display:inline-flex;
    position: absolute;
}
.letter{
    font-family: 'Staatliches', cursive;
    color: whitesmoke;
    font-size: 10vw;
    opacity: 0%;
    padding: 1vh;
    transition: 1s;
    z-index:2;
    text-shadow: .5vw .5vw black;
}
.letter:hover{
    font-size: 12vw;
    color: #578FC7;
}
@keyframes dal {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes load{
    0%{
        opacity: 0%;
        transform: translateY(100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
.W{
    animation: load 3s forwards, float 5s 3s ease-in-out infinite;
}
.E{
    animation: load 3s .2s forwards, float 5s 3.25s ease-in-out infinite;
}
.L{
    animation: load 3s .4s forwards, float 5s 3.5s ease-in-out infinite;
}
.C{
    animation: load 3s .6s forwards, float 5s 3.75s ease-in-out infinite;
}
.O{
    animation: load 3s .8s forwards, float 5s 4s ease-in-out infinite;
}
.M{
    animation: load 3s 1s forwards, float 5s 4.25s ease-in-out infinite;
}
.E2{
    animation: load 3s 1.2s forwards, float 5s 4.5s ease-in-out infinite;
}
