@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
 
.headerpage{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.downarrow{
    height: 5vh;
    width: auto;
    margin-top: 10vh;
    opacity: 0%;
    animation: dal 3s 2s forwards,float 5s 2.5s ease-in-out infinite;
    /* animation-delay: 2s;
    animation-fill-mode: forwards;  */
    /* animation: float 5s ease-in-out infinite; */
}
.Welcome{
    display:flex;
}
.letter{
    font-family: 'Zen Kurenaido', sans-serif;;
    color: whitesmoke;
    font-size: 10vh;
    opacity: 0%;
    padding: 1vh;
}
@keyframes float {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(20px)
    }
    100%{
        transform: translateY(0px)
    }
}
@keyframes dal {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes load{
    0%{
        opacity: 0%;
        transform: translateY(100px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
.W{
    animation: load 3s forwards, float 5s 4s ease-in-out infinite;
}
.E{
    animation: load 3s .2s forwards, float 5s 4.2s ease-in-out infinite;
}
.L{
    animation: load 3s .4s forwards, float 5s 4.4s ease-in-out infinite;
}
.C{
    animation: load 3s .6s forwards, float 5s 4.6s ease-in-out infinite;
}
.O{
    animation: load 3s .8s forwards, float 5s 4.8s ease-in-out infinite;
}
.M{
    animation: load 3s 1s forwards, float 5s 5s ease-in-out infinite;
}
.E2{
    animation: load 3s 1.2s forwards, float 5s 5.2s ease-in-out infinite;
}
