/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Tangerine:wght@700&family=Unica+One&family=Zen+Kurenaido&display=swap');

.logo{
    display:flex;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    position:fixed;
    z-index: 5;
}
.loglink{
    transform: scale(15%);
    z-index:4;
}
.navbarflex{
    height: 7vh;
    background-color: whitesmoke;
    position: fixed;
    width:100vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition:.25s;
}
.navbarflex2{
    height: 7vh;
    background-color: rgb(49, 52, 53);
    position: fixed;
    width:100vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition:.25s;
}
.flez{
    margin: 4vh;
    padding: 1vh;
    font-family: 'Unica One', cursive;
    font-weight: bold;   
    font-size: 100%;
    color: rgb(49, 52, 53);
    transition:.25s;
    text-decoration: none;
}
.flec{
    margin: 7vh;
    padding: 1vh;
    font-family: 'Unica One', cursive;
    font-weight: bold;   
    font-size: 125%;
    color: #85AFFF;
    transition:.25s;
    text-decoration: none;
}
.flez:hover{
    color: #85AFFF;
    transform: skewY(6deg) scale(125%) skewX(-2deg);
}
.flec:hover{
    color: whitesmoke;
    transform: skewY(6deg) scale(125%) skewX(-2deg);
} */
