@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Tangerine:wght@700&family=Unica+One&family=Zen+Kurenaido&display=swap');

.navbarflex3{
    height: 7vh;
    background-color: #85AFFF;
    position: fixed;
    width:100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition:.25s;
}
.navbarflex{
    animation: fadein 4s;
    height: 7vh;
    background-color: #85AFFF;
    position: fixed;
    width:100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition:.25s;
}
@keyframes fadein {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.navbarflex2{
    height: 7vh;
    background-color: rgb(49, 52, 53);
    position: fixed;
    width:100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition:.25s;
}
.flez{
    margin: 4vh;
    padding: 1vh;
    font-family: 'Unica One', cursive;
    font-weight: bold;   
    font-size: 100%;
    color: rgb(49, 52, 53);
    transition:.25s;
    text-decoration: none;
}
.flec{
    margin: 7vh;
    padding: 1vh;
    font-family: 'Unica One', cursive;
    font-weight: bold;   
    font-size: 125%;
    color: #85AFFF;
    transition:.25s;
    text-decoration: none;
}
